li {
  display: flex;
  justify-content: space-between;
}

.task {
  border: 2px solid #5656568f;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 5px;
  padding: 10px;
}

.edit-task-text {
  overflow: hidden;
  width: 90%;
  height: 10%;
  background: rgba(255, 255, 255, 0.631);
  /* border: none; */
}

.task:hover {
  background-color: #5656568f;
  animation-name: bounce;
  animation-timing-function: ease;
}

.task:hover .task-trash-icon,
.task:hover .task-pen-icon,
.task:hover .task-check-icon {
  color: black;
}

.task-icons {
  margin: auto;
  color: #5656568f;
  cursor: pointer;
  width: 10%;
  display: flex;
  justify-content: center;
}

.task-pen-icon,
.task-check-icon {
  margin-left: 5px;
}

.task-text {
  word-break: break-all;
  width: 90%;
}

.date-time-container {
  font-size: small;
  color: #4a4a4ad2;
}

.last-edited {
  font-size: small;
  color: #4a4a4ad2;
}
